# Rust build directory
target/

# intellij configurations
.idea

# Integration test checked out repositories
aleo-setup/
aleo-setup-coordinator/
aleo-setup-state-monitor/
setup-frontend/

# Cooridinator ceremony transcript
transcript/

# Ceremony output
out/
