(
    // Remove any artifacts created during a previous integration
    // test run before starting.
    clean: true,
    // Keep the git repositories. The following effects take place
    // when this is enabled:
    //
    // + Don't delete git repositories if [Options::clean] is
    //   enabled.
    keep_repos: true,
    // Whether to install install prerequisites. By default this is
    // `true`. Setting this to `false` makes the test faster for
    // development purposes.
    install_prerequisites: true,
    // Path to where the log files, key files and transcripts are
    // stored.
    out_dir: "out",
    /// The code repository for the `aleo-setup` project.
    ///
    /// Example [Repo::Remote] specification:
    ///
    /// ```ron
    /// aleo_setup_state_monitor_repo: (
    ///     type: "Remote",
    ///     dir: "aleo-setup",
    ///     url: "git@github.com:AleoHQ/aleo-setup.git",
    ///     branch: "include-build",
    /// ),
    /// ```
    ///
    /// Example [Repo::Local] specification:
    ///
    /// ```ron
    /// aleo_setup_repo: (
    ///     type: "Local",
    ///     dir: "../aleo-setup",
    /// ),
    /// ```
    aleo_setup_repo: (
        type: "Remote",
        dir: "aleo-setup",
        url: "git@github.com:AleoHQ/aleo-setup.git",
        branch: "master",
    ),
    // The code repository for the `aleo-setup-coordinator` project.
    // Checking out a remote repository.
    aleo_setup_coordinator_repo: (
        type: "Remote",
        dir: "aleo-setup-coordinator",
        url: "git@github.com:AleoHQ/aleo-setup-coordinator.git",
        branch: "main",
    ),
    // Whether to run the `aleo-setup-state-monitor` application.
    // Requires `python3` and `pip` to be installed. Only supported
    // on Linux.
    state_monitor: Some((
        // The code repository for the `aleo-setup-state-monitor`
        // project.  Checking out a remote repository.
        repo: (
            type: "Remote",
            dir: "aleo-setup-state-monitor",
            url: "git@github.com:AleoHQ/aleo-setup-state-monitor.git",
            branch: "include-build",
        ),
        // The address used for the `aleo-setup-state-monitor` web
        // server. By default `127.0.0.1:5001`.
        address: "127.0.0.1:5001",
    )),
)