(
    clean: true,
    build: false,
    keep_repos: true,
    state_monitor: true,
    out_dir: "out",
    aleo_setup_repo: (
        type: "Local",
        dir: "../aleo-setup",
    ),
    aleo_setup_coordinator_repo: (
        type: "Local",
        dir: "../aleo-setup-coordinator",
    ),
    aleo_setup_state_monitor_repo: (
        type: "Local",
        dir: "../aleo-setup-state-monitor",
    ),
    tests: [
        (
            id: "8",
            verifiers: 1,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: 3,
                    contributor_drops: [
                        (
                            after_contributions: 10,
                        ),
                        (
                            after_contributions: 11,
                        ),
                    ],
                ),
            ],
        ),
    ],
)