(
    /// Specifications for the individual tests.
    tests: [
        (
            /// Id for the individual test.
            id: "1",
            /// Number of verifier participants for the test.
            verifiers: 1,
            /// Number of replacement contributors for the test.
            replacement_contributors: 0,
            /// What environment to use for the setup.
            /// Possible options: `development`, `inner`, `outer`, `universal`.
            environment: development,
            /// Whether to skip running this test.
            skip: false,
            /// Configure the tests performed for each round of the ceremony.
            rounds: [
                (
                    /// Number of contributor participants for this round of the
                    /// ceremony.
                    cli_contributors: 1,
                ),
            ],
        ),
        (
            id: "2",
            verifiers: 1,
            // Replacement contributors currently disabled due to AleoHQ/aleo-setup#257 
            // and other problems with them.
            replacement_contributors: 0,
            // replacement_contributors: 1,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 1,
                    /// Configure expected contributor drops. A contributor is
                    /// assigned automatically to each specified config. The number of
                    /// configs should not exceed the number of contributors.
                    contributor_drops: [
                        (
                            /// A contributor is dropped (process killed) after having made
                            /// this number of contributions.
                            after_contributions: 10,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "3",
            verifiers: 1,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                ),
            ],
        ),
        (
            id: "4",
            verifiers: 1,
            // Replacement contributors currently disabled due to AleoHQ/aleo-setup#257 
            // and other problems with them.
            replacement_contributors: 0,
            // replacement_contributors: 1,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                    contributor_drops: [
                        (
                            after_contributions: 10,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "5",
            verifiers: 1,
            // Replacement contributors currently disabled due to AleoHQ/aleo-setup#257 
            // and other problems with them.
            replacement_contributors: 0,
            // replacement_contributors: 2,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                    contributor_drops: [
                        (
                            after_contributions: 10,
                        ),
                        (
                            after_contributions: 15,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "6",
            verifiers: 1,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 3,
                ),
            ],
        ),
        (
            id: "7",
            verifiers: 1,
            // Replacement contributors currently disabled due to AleoHQ/aleo-setup#257 
            // and other problems with them.
            replacement_contributors: 0,
            // replacement_contributors: 1,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 3,
                    contributor_drops: [
                        (
                            after_contributions: 10,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "9",
            verifiers: 1,
            replacement_contributors: 3,
            environment: development,
            timout: Some(18000),
            // Replacement contributors currently broken due to
            // AleoHQ/aleo-setup#257 and other problems with them.
            // Entire disabled because unable to complete round
            // without any replacement contributors.
            skip: true,
            rounds: [
                (
                    cli_contributors: 3,
                    contributor_drops: [
                        (
                            after_contributions: 10,
                        ),
                        (
                            after_contributions: 11,
                        ),
                        (
                            after_contributions: 15,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "10",
            verifiers: 1,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 4,
                ),
            ],
        ),
        (
            id: "15",
            verifiers: 1,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 5,
                ),
            ],
        ),
        (
            id: "21",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 1,
                ),
            ],
        ),
        (
            id: "23",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                ),
            ],
        ),
        (
            id: "26",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 3,
                ),
            ],
        ),
        (
            id: "30",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 4,
                ),
            ],
        ),
        (
            id: "35",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    cli_contributors: 5,
                ),
            ],
        ),
        (
            id: "36",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            /// Configure the tests performed for each round of the ceremony.
            rounds: [
                (
                    cli_contributors: 1
                ),
                (
                    cli_contributors: 1
                ),
            ],
        ),
        (
            id: "37",
            verifiers: 2,
            replacement_contributors: 0,
            environment: development,
            timout: Some(18000),
            skip: false,
            /// Configure the tests performed for each round of the ceremony.
            rounds: [
                (
                    cli_contributors: 2
                ),
                (
                    cli_contributors: 2
                ),
            ],
        ),
    ],
)
