(
    tests: [
        (
            id: "1",
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "3",
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "6",
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "10",
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "15",
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "21",
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "23",
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "26",
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "30",
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
        (
            id: "35",
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            timout: Some(18000),
            skip: false,
            rounds: [
                (
                    contributors: [
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                        (
                            kind: CLI,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
