(
    clean: true,
    keep_repos: true,
    no_prereqs: true,
    state_monitor: true,
    out_dir: "out",
    aleo_setup_repo: (
        type: "Remote",
        dir: "aleo-setup",
        url: "git@github.com:AleoHQ/aleo-setup.git",
        branch: "master",
    ),
    aleo_setup_coordinator_repo: (
        type: "Remote",
        dir: "aleo-setup-coordinator",
        url: "git@github.com:AleoHQ/aleo-setup-coordinator.git",
        branch: "main",
    ),
    aleo_setup_state_monitor_repo: (
        type: "Remote",
        dir: "aleo-setup-state-monitor",
        url: "git@github.com:AleoHQ/aleo-setup-state-monitor.git",
        branch: "include-build",
    ),
    tests: [
        (
            id: "1",
            contributors: 1,
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "3",
            contributors: 2,
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "6",
            contributors: 3,
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "10",
            contributors: 4,
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "15",
            contributors: 5,
            verifiers: 1,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "21",
            contributors: 1,
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "23",
            contributors: 2,
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "26",
            contributors: 3,
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "30",
            contributors: 4,
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
        (
            id: "35",
            contributors: 5,
            verifiers: 2,
            replacement_contributors: 0,
            environment: inner,
            round_timout: Some(18000),
            skip: false,
            contributor_drops: [],
        ),
    ],
)