(
    tests: [
        (
            id: "1",
            verifiers: 1,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 1,
                ),
            ],
        ),
        (
            id: "3",
            verifiers: 1,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                ),
            ],
        ),
        (
            id: "6",
            verifiers: 1,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 3,
                ),
            ],
        ),
        (
            id: "10",
            verifiers: 1,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 4,
                ),
            ],
        ),
        (
            id: "11",
            verifiers: 2,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 1,
                ),
            ],
        ),
        (
            id: "13",
            verifiers: 2,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 2,
                ),
            ],
        ),
        (
            id: "16",
            verifiers: 2,
            replacement_contributors: 0,
            environment: outer,
            timout: None,
            skip: false,
            rounds: [
                (
                    cli_contributors: 3,
                ),
            ],
        ),
    ],
)
